{% load crispy_forms_tags %} {% load static %}

<html>
  <head>
    <title>Books. You're almost there.</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'base.css' %}"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="login-box">
      <p>
        Successfully registered. Now you wait for my approval.
      </p>
    </div>
  </body>
</html>
